// CUSTOM COLORS
$theme-blue-main: #0e1a33;
$theme-yellow-main: #ffd700;
$theme-yellow-secondary: #fff4b8;
$theme-white-main: white;

// CUSTOM FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kranky&display=swap");
